<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GoodNote App</title>
  <link rel="stylesheet" href="/docs/css/test.css">

</head>

<body>

	<header id="header">
	  <h1><strong><a href="home">GOODNOTE</a></strong></h1>
		<nav id="nav">
			<ul>
				<li><a href="home">Home</a></li>
				<li><a href="activity">Activity</a></li>
				<li><a href="notes">Notes</a></li>
        <li><a href="login">Connect</a></li>
			</ul>
		</nav>
	</header>

  <div class="main">
    <table style="width:75%; margin-left: auto; margin-right: auto">
      <caption>Client Activity</caption>
      <tr>
        <th>Client Name</th>
        <th>Most Recent Activity</th>
        <th>Date</th>
      </tr>
      
      <% @activities.each do |a| %>
      <tr>
        <td><%= a.patient_id %></td>
        <!-- <%= activity=a.request %> -->
        <!-- <%= activity_out=activity.partition('/').last %> -->
        <td><%= activity_out %></td>
			  <td><%= a.time %></td>
      </tr>
      <%end%>
    </table>
  </div>

</body>