<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GoodNote App</title>
  <link rel="stylesheet" href="/docs/css/nav.css">

    <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
    <script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>

</head>
<body>

  <nav>
    <ul class="nav-bar">
      <li class="nav-button"><a href="home" class="nav-text">Home</a></li>
      <li class="nav-button"><a href="activity" class="nav-text">Activity</a></li>
      <li class="nav-button"><a href="notes" class="nav-text">Notes</a></li>
    </ul>
  </nav>

<form method='POST' id="client_form">
    <select name="client" id="client_list" onchange="this.form.submit()">
        <% @clients.each do |client| %>
            <% id = client[:spotify_id] %>
            <option value=<%=id%> <%='selected' if @current_client == id%> > <%=id%> </option>
        <% end %>
    </select>

    <input type="date" id="date" name="date" value="<%= @selected_date %>" onchange="this.form.submit()">
</form>

<form method='POST' id="notes_form">
    <textarea id="notes" name="notes" form="notes_form" style="width: 90%; height: 100px;"><%= @note_content %></textarea>
    <input type="submit" value="Save Notes">
</form>

</body>

<script>

</script>
</html>
